break.txt
makefile
makefileNW
makemessage*.*
run_gdb.bat
lsd_gnu*
lsd_gnu*.*
LSD
*.pdf
*.png
*.csv
*.res
*.tot
*.gz
*.exe
*.o
*.bak
src/
R/data/
R/subbotools*/
.Rproj.user
R/run-EE.sh
*.sh
elements.txt
*.ses
log.txt
