break.txt
makefile
makefileNW
makemessage*.*
run_gdb.bat
lsd_gnu*
lsd_gnu*.*
*.pdf
*.png
*.csv
*.res
*.tot
*.gz
*.exe
src/
R/data/
R/subbotools*/
.Rproj.user
R/run-EE.sh
*.sh
elements.txt
*.ses
log.txt
